<table class="table table-bordered  table-success">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>IsActive</th>
      <th>Action<a routerLink="/admin/addcategory" class=" btn btn-success" >+Add New</a></th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let item of service.categories">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.isActive}}</td>
      <td ><span (click)="deleteCat(item.id)" class="btn btn-danger">Delete</span> <span  (click)="fillData(item)"  class=" btn btn-info">Edit</span></td>
    </tr>
  </tbody>
</table>
