
<ul class="nav nav-tabs nav-stacked bg-black">
  <li class="nav-item">
    <a href="#" class="nav-link active">Active</a>
  </li>
  <li class="nav-item">
    <a routerLink="/category-list" class="nav-link">Link</a>
  </li>
  <li class="nav-item disabled">
    <a routerLink="/movies-list" class="nav-link">Movie</a>
  </li>
  <li class="nav-item disabled">
    <a routerLink="/property-card" class="nav-link">index</a>
  </li>
</ul>













       <router-outlet ></router-outlet>













