
<div class="col-12 my-table">



      <form class="tr" [formGroup]="fg" *ngFor="let fg of categoryForm.controls" (submit)="submit(fg)" >
          <table class=" table-success">
              <thead>
                <tr>
                  <td>Name</td>
                  <td>IsActive</td>
                  <td>Action</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input  formControlName="name" class=" form-control">
                  </td>
                  <td>
                    <input type="checkbox" name="isActive" formControlName="isActive" class=" form-control" [value]="false">
                  </td>
                  <td>
                    <input type="submit" value="Add" class=" btn btn-success">
                  </td>

                </tr>
              </tbody>
          </table>
      </form>

</div>


