<footer id="myFooter" style="padding:0px;">
  <div class="container-fluid">
      <div class="row text-center">
          <div class="col-12">

              <p class="footer-copyright">© 2021 Copyright Text ~ Designed By  <a href="#">Kareem Rabea</a></p>
          </div>
          <div class="col footer-social" >
            <a class="social-icons" href="https://www.facebook.com/kokar.rs" ><i class="fa fa-facebook" ></i></a>
            <a class="social-icons" href="mailto:kareemrabea524@gmail.com"><i class="fa fa-google-plus"></i></a>
            <a class="social-icons" href="https://wa.me/00201003661413"><i class="fa fa-whatsapp"></i></a>
            <a class="social-icons" href=""><i class="fa fa-linkedin"></i></a>
          </div>
      </div>
  </div>
</footer>
